<style>
.new_post_wrapper{
background-color:#0e0e0e;
}
</style>
<div class="row-fluid">
<div class="span12 new_post_wrapper">
<h3 class="text-info">New post</h3>

</div>
</div>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
